a {
	text-decoration: none;
	color: #fff;
}
body {
	background-color: #f2f2f2;
	font-size: 12px;
	font-family: "Arail","Microsoft Yahei";
}
/* 头部样式 */
header {
	width: 100%;
	height: 45px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	padding: 7px 50px 10px 8px;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	min-width: 320px;
	max-width: 540px;
	background-color: #f2f2f2;
	z-index: 10;
}
header .hd-search {
	width: 100%;
	height: 26px;
	border: 1px solid #999;
	box-sizing: border-box;
	padding-left: 24px;
	line-height: 26px;
	color: #666;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	position: relative;
	background-color: #fff;
}
header .hd-search::before {
	content: "";
	position: absolute;
	width: 13px;
	height: 13px;
	background: url('../images/icon.png') no-repeat -60px -280px;
	background-size: 104px 327.5px;
	left: 8px;
	top: 6px;
}
header a {
	position: absolute;
	top: 4px;
	right: 8px;
	color: #2eaae0;
	width: 33px;
	height: 39px;
	text-align: center;
	line-height: 13px;
}
header a::before {
	content: "";
	display: block;
	width: 23px;
	height: 23px;
	background: url('../images/icon.png') no-repeat -59.5px -194.5px;
	background-size: 104px 327.5px;
	margin: 0 auto;	
}
/* banner样式 */
.banner {
	width: 100%;
	height: 107px;
	min-width: 320px;
	max-width: 540px;
	margin: 0 auto;
	padding-top: 45px;
	position: relative;
}
.banner .images ul li a {
	display: block;
}
.banner .images ul li a img {
	display: block;
	width: 100%;
	height: 108px;
}
.banner .circle {
	width: 67px;
	height: 5px;
	position: absolute;
	right: 6px;
	bottom: 6px;
	overflow: hidden;
}
.banner .circle ol {
	width: 100px;
}
.banner .circle ol li {
	float: left;
	width: 5px;
	height: 5px;
	margin-right: 5px;
	background-color: rgba(255,255,255,.3);
	border-radius: 3px;
}
.banner .circle ol li.active {
	width: 17px;
	background-color: #fff;
}
/* nav导航样式 */
nav {
	width: 100%;
	min-width: 320px;
	max-width: 540px;
	box-sizing: border-box;
	padding: 4px;
	margin: 0 auto;
}
nav .row {
	height: 90px;
	background-color: #ff697a;
	border-radius: 5px;
	margin-bottom: 4px;
}
nav .row ul li {
	float: left;
	width: 33.33%;
	height: 45px;
	text-align: center;
	line-height: 45px;
	box-sizing: border-box;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-size: 14px;
}
nav .row ul li:first-child {
	border-bottom: none;
	height: 90px;
}
nav .row ul li:nth-child(3) {
	border-right: none;
}
nav .row ul li:nth-child(4) {
	border-bottom: none;
}
nav .row ul li:nth-child(5) {
	border: none;
}
nav .row ul li a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
nav .row ul li:first-child a::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 33px;
	background: url('../images/icon.png') no-repeat 0 -130px;
	background-size: 104px 327.5px;
	top: 43px;
	left: 50%;
	transform: translateX(-50%);
}
nav .row:nth-child(2) {
	background-color: #3d98ff;
}
nav .row:nth-child(3) {
	background-color: #44c522;
}
nav .row:last-child {
	background-color: #fc9720;
}
nav .row:nth-child(2) ul li:first-child a::after {
	width: 43px;
	height: 25px;
	background-position: 0 -297.5px;
	top: 45px;
}
nav .row:nth-child(3) ul li:first-child a::after {
	width: 35px;
	height: 41px;
	background-position: 0 -180.5px;
	top: 37px;
}
nav .row:last-child ul li:first-child {
	height: 45px;
	border-bottom: 1px solid #fff;
}
nav .row:last-child ul li:nth-child(3) {
	border-right: none;
}
nav .row:last-child ul li:nth-child(4) {
	border-bottom: none;
}
nav .row:last-child ul li:nth-child(5) {
	border-bottom: none;
	border-right: 1px solid #fff;
}
nav .row:last-child ul li:nth-child(6) {
	border: none;
}
nav .row:last-child ul li:first-child a::after {
	background: none;
}
/* 侧导航栏 */
aside {
	width: 100%;
	height: 182px;
	padding: 0 4px;
	box-sizing: border-box;
	min-width: 320px;
	max-width: 540px;
	margin: 0 auto;
}
aside ul {
	background-color: #fff;
	height: 100%;
	border-radius: 5px;
}
aside ul li {
	float: left;
	width: 25%;
	height: 33.33%;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	box-sizing: border-box;
	position: relative;
}
aside ul li a {
	color: black;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 90px;
}
aside ul li a::before {
	content: "";
	position: absolute;
	width: 19.5px;
	height: 19.5px;
	background: url('../images/sub.png') no-repeat 0 -80px;
	background-size: 20px 315px;
	left: 50%;
	transform: translateX(-50%);
	top: 11px;
}
/* 内容栏 */
section {
	width: 100%;
	height: 263px;
	min-width: 320px;
	max-width: 540px;
	margin: 8px auto;
	background-color: #fff;
	box-sizing: border-box;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	padding: 11px 8px 0;
	overflow: hidden;
}
section .title {
	width: 100%;
	height: 16px;
	padding-top: 4px;
	position: relative;
	margin-bottom: 13px;
}
section .title h3 {
	width: 56px;
	height: 14.5px;
	background: url('../images/un_home_text.png') no-repeat;
	background-size: 79px 57.5px;
	overflow: hidden;
}
section .title h3 a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -999em;
}
section .title span {
	position: absolute;
	right: 0;
	top: 0;
	width: 102px;
	height: 20px;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(left,#ff4f65,#ff6bc7);
}
section .title span a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: 11px;
	line-height: 20px;
}
section .title span::after {
	content: "";
	position: absolute;
	top: 6px;
	right: 10px;
	width: 7px;
	height: 7px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
}
section .hot {
	width: 50%;
	height: 205px;
	border-right: 2px solid #fff;
	box-sizing: border-box;
	float: left;
	background-color: #f9f9f9;
}
section .hot figure {
	width: 100%;
	height: 117px;
	position: relative;
	margin-bottom: 9px;
}
section .hot figure figcaption {
	position: absolute;
	width: 38px;
	height: 20px;
	background-color: #fd3a51;
	color: #fff;
	text-indent: 7px;
	line-height: 20px;
}
section .hot figure::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 20px solid #fd3a51;
	border-left-width: 6px;
	border-right-width: 6px;
	border-color: #fd3a51 transparent transparent;
	left: 32px;
	top: 0;
	z-index: 5;
}
section .hot figure img {
	width: 100%;
	height: 117px;
	display: block;
}
section .hot .text {
	width: 100%;
	height: 117px;
	font-size: 14px;
}
section .hot .text p:first-child {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 20px;
}
section .hot .text p:last-child {
	color: #ff495e;
}
section .hot .text p:last-child i {
	font-style: normal;
	font-size: 12px;
}
section .hot .text p:last-child b {
	font-weight: normal;
}
section .hot .text p:last-child span {
	font-size: 12px;
	color: #fff;
	padding: 0 6px;
	background-color: #fd3a51;
	border-radius: 10px;
	margin-left: 4px;
}
section .others {
	width: 50%;
	height: 205px;
	border-left: 2px solid #fff;
	box-sizing: border-box;
	float: left;
	background-color: #f9f9f9;
}
section .others .top {
	width: 100%;
	padding-left: 8px;
	padding-top: 9px;
	box-sizing: border-box;
	height: 92px;
	position: relative;
	border-bottom: 4px solid #fff;
}
section .others .top p:first-child {
	font-weight: 700;
	color: #fd3a51;
	line-height: 20px;

}
section .others .top::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	width: 53.5px;
	height: 71px;
	background: url('../images/qiandaizi.png') no-repeat;
	background-size: 53.5px 71px;
}
section .others .bottom {
	width: 100%;
	height: 113px;
}
section .others .bottom .trip,
section .others .bottom .play {
	width: 50%;
	height: 100%;
	border-right: 2px solid #fff;
	box-sizing: border-box;
	float: left;
	line-height: 20px;
	padding-top: 9px;
	text-align: center;
	position: relative;
}
section .others .bottom .trip p:first-child {
	color: #6aabff;
	font-weight: 800;
}
section .others .bottom .trip p:last-child span {
	color: #6aabff;
}
section .others .bottom .play p:first-child {
	color: #53ca9c;
	font-weight: 800;
}
section .others .bottom .play p:last-child span {
	color: #53ca9c;
}
section .others .bottom .play {
	border-left: 2px solid #fff;
	border-right: none;
}
section .others .bottom .trip::after {
	content: "";
	position: absolute;
	width: 49.5px;
	height: 35px;
	background: url('../images/feiji.png') no-repeat;
	background-size: 49.5px 35px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 9px;
}
section .others .bottom .play::after {
	content: "";
	position: absolute;
	width: 48px;
	height: 35px;
	background: url('../images/pic-tmh-03.png') no-repeat;
	background-size: 48px 35px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 9px;
}
/* 下部活动栏 */
.activity {
	width: 100%;
	height: 467px;
	background-color: #fff;
	min-width: 320px;
	max-width: 540px;
	margin: 0 auto;
	color: black;
	box-sizing: border-box;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 8px;
}
.activity .title {
	width: 100%;
	height: 45px;
	padding-top: 14px;
	position: relative;
	padding-left: 8px;
	box-sizing: border-box;
}
.activity .title h3 {
	float: left;
	width: 72.5px;
	height: 15px;
	background: url('../images/un_home_text.png') no-repeat 0 -19.5px;
	background-size: 79px 57.5px;
	overflow: hidden;
	position: relative;
}
.activity .title h3 a {
	position: absolute;
	width: 100%;
	height: 100%;
	text-indent: -999em;
}
.activity .title::after {
	content: "";
	float: left;
	width: 36px;
	height: 15px;
	background: url('../images/icon-gg@2x.png') no-repeat;
	background-size: 36px 15px;
	margin-left: 8px;
}
.activity .title span {
	position: absolute;
	right: 8px;
	top: 11px;
	width: 102px;
	height: 20px;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(left,#ff4f65,#ff6bc7);
	text-indent: 11px;
	line-height: 20px;
}
.activity .title span a {
	display: block;
	width: 100%;
	height: 100%;
}
.activity .title span::after {
	content: "";
	position: absolute;
	top: 5px;
	right: 10px;
	width: 7px;
	height: 7px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
}
.activity ul li {
	width: 50%;
	height: 116px;
	box-sizing: border-box;
	border-top: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	float: left;
}
.activity ul li:nth-child(2n+1) {
	border-left: none;
}
.activity ul li:nth-child(1),
.activity ul li:nth-child(2) {
	height: 188px;
}
.activity ul li img {
	width: 100%;
	height: 115px;
}
.activity ul li:nth-child(1) img,
.activity ul li:nth-child(2) img {
	height: 187px;
}
nav.foot {
	width: 100%;
	min-width: 320px;
	max-width: 540px;
	height: 52px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	box-sizing: border-box;	
	background-color: #fff;
	margin: 0 auto;
	overflow: hidden;
}
nav.foot ul li {
	width: 33.33%;
	float: left;
	font-size: 12px;
	text-align: center;
	line-height: 65px;
	position: relative;
}
nav.foot ul li a {
	display: block;
	color: black;
}
nav.foot ul li a::before {
	content: "";
	position: absolute;
	top: 5px;
	transform: translateX(-50%);
	left: 50%;
	width: 16px;
	height: 16px;
	background: url('../images/icon.png') no-repeat -60px -153.5px;
	background-size: 104px 327.5px;
}
nav.foot ul li:nth-child(2) a::before {
	background-position: -60px -173.5px;
}
nav.foot ul li:nth-child(3) a::before {
	width: 17.5px;
	height: 18px;
	background-position: -60px -310px;
}
footer {
	min-width: 320px;
	max-width: 540px;
	margin: 0 auto;
	width: 100%;
	height: 56px;
}
footer p {
	text-align: center;
}
footer p:first-child {
	line-height: 34px;
}
footer p:last-child {
	line-height: 12px;
	color: #999;
}
footer p:first-child a {
	color: black;
}
footer p:first-child a:nth-of-type(2) {
	padding:0 20px;
	position: relative;
}
footer p:first-child a:nth-of-type(2)::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 4px;
	width: 11px;
	height: 11px;
	background: url('../images/un_icon_sites.png') no-repeat 0 -160px;
	background-size: 30px 183px;
}
footer p:first-child a:nth-of-type(2)::after {
	content: "";
	position: absolute;
	right: 8px;
	top: 5px;
	width: 5px;
	height: 5px;
	border-right: 2px solid #929292;
	border-bottom: 2px solid #929292;
	transform: rotate(45deg);
}